# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
build/
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/ios/Flutter/App.framework
/ios/Flutter/engine.version
/ios/Flutter/flutter_assets/
/ios/Flutter/pod_patch.txt
/ios/Flutter/Generated.xcconfig
/ios/Flutter/.last_build_id

# Android
/android/app/src/main/assets/flutter_assets/
/android/app/build
/android/build
/android/.gradle
/android/app/src/main/jniLibs

# Environment variables
.env
